img {
  position: absolute;
  top: 20;
  left: 0;
}

#garage-sale {

}
#garage-sale:hover + #img-garage-sale {
  display: block;
}
#img-garage-sale {
  display: none;
}


#bag {
  background-color: blue;
}
#bag:hover + #img-bag {
  display: block;
}
#img-bag {
  display: none;
}
