* {
  font-family: 'BeirutText';
}

h2 {
  font-family: 'BeirutDisplay';
  font-size: 2em;
}

p {
  font-family: 'BeirutText';
}

a {
  font-family: 'BeirutText';
}


.App {
  text-align: center;
  display: grid;
  grid-template-columns: 250px 1fr;

  align-content: center;

  height: 100vh;

  font-family: 'BeirutDisplay', serif;
}
/* .App > * {
  border: 2px solid green;
} */
