p {
  font-family: 'BeirutText';
}

.App {
  text-align: center;
  display: grid;
  align-content: center;

  height: 100vh;

  font-family: 'BeirutDisplay', serif;
}
/* .App > * {
  border: 2px solid green;
} */
