@font-face {
  font-family: 'BeirutDisplay';
  /* font-style: normal;
  font-weight: 400; */
  src:
    /* local('Roboto'),
    local('Roboto-Regular'), */
    url(./assets/fonts/BeirutDisplayTrial-Black.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-Bold.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-BoldItalic.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-Book.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-BookItalic.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-Light.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-LightItalic.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-Regular.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-RegularItalic.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-SemiBold.otf) format('otf'),
    url(./assets/fonts/BeirutDisplayTrial-SemiBoldItalic.otf) format('otf');
}

@font-face {
  font-family: 'BeirutText';
  /* font-style: normal;
  font-weight: 400; */
  src:
    /* local('Roboto'),
    local('Roboto-Regular'), */
    url(./assets/fonts/BeirutTextTrial-Bold.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-BoldItalic.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-Book.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-BookItalic.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-Light.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-LightItalic.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-Regular.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-RegularItalic.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-SemiBold.otf) format('otf'),
    url(./assets/fonts/BeirutTextTrial-SemiBoldItalic.otf) format('otf');
}

p {
  font-family: 'BeirutText';
}

.App {
  text-align: center;
  display: grid;
  align-content: center;

  height: 100vh;

  font-family: 'BeirutDisplay', serif;
}
/* .App > * {
  border: 2px solid green;
} */
