/* Pre-config */
h1 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
body, p {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

/* Section01 - Cult of the Ugly */
.header {
	display: flex;
}
.header-02 {
	background-color: black;
}

.container-01 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

	width: 10px;
	margin-top: 150px;
	margin-bottom: 150px;
  margin-left: 10%;

}
.section01-cult {
	background-color: black;
	color: white;
	font-family: Times;
	margin-left: 15%;
	/* font-size: .75em; */

	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.section01-of {
	font-family: Helvetica;
	font-size: 50px;
}
.section01-the {
	background-color: black;
	color: white;
	font-family: Times;
	margin-top: -50%;

	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.section01-ugly {
	-webkit-transform:scale(2,1); /* Safari and Chrome */
  -moz-transform:scale(2,1); /* Firefox */
  -ms-transform:scale(2,1); /* IE 9 */
  -o-transform:scale(2,1); /* Opera */
  transform:scale(2,1); /* W3C */
}


/* Section02 */
.container-02 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;

  width: 80%;
  margin-left: 10%;
	margin-bottom: 300px;
}
.container-02-01:hover {
	width: 60%;
}
.container-02-ugly {
	background-color: black;
	color: white;
	font-family: Times;
	font-size: 5em;
}
.container-02-beauty {
	background-color: black;
	color: white;
	font-size: 3em;

	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.container-02-aesthetically {
	font-family: Times;
	font-size: 3.5em;
}

/* Section03 */
.container-03 {
  display: flex;
  flex-wrap: wrap;

  font-size: 400px;
  height: 2em;
}
.container-03-02 {
	background-color: black;
	color: white;
	display: flex;
  flex-wrap: wrap;

  font-size: 1000px;
  height: 2em;
}

/* Section04 */
.container-04 {
	display: grid;
	grid-template-columns: 400px 400px;
  grid-auto-rows: auto;

  margin-left: 10%;
}
.container-04-article-02 {
  margin-left: 10%;
}

.container-04-02 {
	display: flex;
  margin-left: 10%;
  width: 10%;
}

/* Section05 */
.container-05 {
  margin-left: 10%;
	margin-top: 250px;
	width: 70%;
}
.container-05-article-01-02 {
  transform: rotate(-20deg);

  margin-top: 250px;
}
.container-05-article-02 {
	margin-top: 150px;
}
.container-05-article-02-02 {
  transform: rotate(10deg);

  margin-top: 300px;
}

/* Section06 */
.container-06 {
  display: flex;
	margin-top: 300px;
	margin-bottom: 300px;
  /* justify-content: space-between; */
}
.container-06-02 {
	display: flex;
	/* justify-content: space-between; */

	margin-top: 300px;

	background-color: black;

}
.container-06-article-01 {
	margin-left: 20%;
  width: 30%;
}
.container-06-article-02 {
  width: 30%;
}
.container-06-article-01-02 {
  margin-top: 250px;
  width: 30%;

	transform: rotate(-10deg);
	color: white;
}
.container-06-article-02-02 {
  margin-top: 500px;
  width: 30%;

	background-color: white;
}

/* Section07 */
.container-07-hide {
	visibility: hidden;
}

.container-07 {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: repeat(6 100px);

	margin-top: 10px;

  width: 60%;
  margin-left: 50%;
}
.container-07-article-01 {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
}
.container-07-article-05 {
  transform: rotate(-10deg);
}
.container-07-article-06 {
  transform: rotate(20deg);
}
.container-07-article-07 {
}

/* Section08 */
.container-08 {
  display: grid;
	grid-template-columns: repeat(4 auto);

  margin-left: 10%;
  width: 75%
}

/* Section09 */
.container-09 {
  margin: auto;
  width: 20%;
}
.container-09-article-01 {
  margin-top: 400px;
}
.container-09-article-02 {
  margin-top: 400px;
  margin-bottom: 400px;
}

footer {
  background-color: #999999;
}
