img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  /* background-color: blue; */
  opacity: 0;
  position: absolute;
  z-index: 1;
}
/* GARAGE SALE */
/* #garage-sale {

} */
#garage-sale {
  opacity: 1;
}
#garage-sale:hover + #img-garage-sale {
  display: block;
}
#img-garage-sale {
  display: none;
}

/* BAG */
#bag {

}
#bag:hover + #img-bag {
  display: block;
}
#img-bag {
  display: none;
}

/* BASKETBALL */
#basketball {

}
#basketball:hover + #img-basketball {
  display: block;
}
#img-basketball {
  display: none;
}

/* BED */
#bed {

}
#bed:hover + #img-bed {
  display: block;
}
#img-bed {
  display: none;
}

/* BOOK */
#book {

}
#book:hover + #img-book {
  display: block;
}
#img-book {
  display: none;
}

/* CAR SEAT */
#car-seat {

}
#car-seat:hover + #img-car-seat {
  display: block;
}
#img-car-seat {
  display: none;
}

/* COMPUTERS */
#computers {

}
#computers:hover + #img-computers {
  display: block;
}
#img-computers {
  display: none;
}

/* DVD */
#dvd {

}
#dvd:hover + #img-dvd {
  display: block;
}
#img-dvd {
  display: none;
}

/* HOOP */
#hoop {

}
#hoop:hover + #img-hoop {
  display: block;
}
#img-hoop {
  display: none;
}

/* HOOP */
#mannequin {

}
#mannequin:hover + #img-mannequin {
  display: block;
}
#img-mannequin {
  display: none;
}

/* SNEAKERS */
#sneakers {

}
#sneakers:hover + #img-sneakers {
  display: block;
}
#img-sneakers {
  display: none;
}

/* TRAIN */
#train {

}
#train:hover + #img-train {
  display: block;
}
#img-train {
  display: none;
}

/* VASE */
#vase {

}
#vase:hover + #img-vase {
  display: block;
}
#img-vase {
  display: none;
}

/* WILL */
#will {

}
#will:hover + #img-will {
  display: block;
}
#img-will {
  display: none;
}
